.label {
  margin-right: 5px; }

.checkbox-inline,
.checkbox-inline + .checkbox-inline {
  margin-left: 0;
  margin-right: 15px; }

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  vertical-align: middle; }

.table .table-actions {
  white-space: nowrap; }

.jumbotron-home {
  overflow: hidden;
  position: relative; }
  .jumbotron-home .container {
    position: relative; }
  .jumbotron-home .jumbotron-bg {
    opacity: .8;
    background-image: url("/Content/Images/escheresque.png");
    background-repeat: repeat;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%; }

.latest-projects {
  margin-bottom: 25px; }
  .latest-projects h3 {
    margin-top: 0; }

.latest-projects .latest-img,
.featured-project .featured-img {
  border-radius: 5px; }

.sidebar {
  margin-top: 25px;
  background: whitesmoke;
  border-radius: 5px;
  overflow: hidden; }
  .sidebar .sidebar-content {
    padding: 15px; }

.projects-table img {
  max-width: 150px; }

.text-success {
  color: #67ce69; }

.text-warning {
  color: #ecab3a; }

.margin-top-l {
  margin-top: 15px; }

